.driver-image,
.truck-image {
  width: 48px;
  height: 48px; 
  border-radius: 50%;
}

nav {
  height: 100dvh;
}

ul {
  gap: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100dvh;
}

li {
  padding: 1rem;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: .5rem;
  cursor: pointer;
}
